[pull]
    rebase = false
[user]
	name = HenryKun55
	email = henriqueflavio55@gmail.com
[alias]
  s = !git status -s
  c = !git add . && git commit -m
  amend = !git add . && git commit --amend --no-edit
  l = !git log --pretty=format:'%C(blue)%h%C(red)%d %C(white)%s %C(cyan)[%cn] %C(green)%cr'
[push]
    default = current
[includeIf "gitdir:~/Documents/distrito-workspace/"]
  path = ~/Documents/distrito-workspace/.gitconfig
[init]
	defaultBranch = master
[includeIf "gitdir:~/Documents/ubotsworkspace/"]
  path = ~/Documents/ubotsworkspace/.gitconfig
[includeIf "gitdir:~/Documents/workspace/egoeimi/"]
  path = ~/Documents/workspace/egoeimi/.gitconfig
[credential]
	helper = osxkeychain
[credential "https://github.com"]
	helper =
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
